/ Footer
%footer.bg-slate-800
  .container.flex.flex-col-reverse.justify-between.px-6.py-5.mx-auto.space-y-8.md:flex-row.md:space-y-0
    / Logo and social links container
    .flex.flex-col-reverse.items-center.justify-between.space-y-12.md:flex-col.md:space-y-0.md:items-start
      .mx-auto.my-6.text-center.text-white.md:hidden
        Copright © 2022, All Rights Reserved
      / Logo
      %div
        %img.h-8{:alt => "", :src => ""}/
      -# / Social Links Container
      -# .flex.justify.center.space-x-4
      -#   / Link 1
      -#   %a{:href => "#"}
      -#     %img.h-8{:alt => "", :src => "images/icon-facebook.svg"}/
      -#   / Link 2
      -#   %a{:href => "#"}
      -#     %img.h-8{:alt => "", :src => "images/icon-twitter.svg"}/
      -#   / Link 3
      -#   %a{:href => "#"}
      -#     %img.h-8{:alt => "", :src => "images/icon-youtube.svg"}/
    / List container
    .flex.justify-around.space-x-32
      .flex.flex-col.space-y-3.text-white
        %p.hover.text-gray-100= link_to "Home", root_path
        %p.hover.text-gray-100= link_to "Survey", surveys_path
        %p.hover.text-gray-100= link_to "Enrollments", enrollments_path
      .flex.flex-col.space-y-3.text-white
        %a.hover:text-brightRed{:href => "#"} Privacy Policy
        %a.hover:text-brightRed{:href => "#"} Terms & Conditions
    / Input Container
    .flex-flex-col.justify-between
      %form
        .flex-space-x-3
          %input.flex-1.px-4.rounded-full.focus:outline-none{:placeholder => "Subscribe", :type => "text"}/
          %button.px-6.py-2.text-white.rounded-full.bg-brightGreen.hover:bg-brightGreenLight.focus:outline-none
            Go
      .hidden.text-white.py-6.md:block
        %p= @copyright
