.jumbotron.text-center
  %h3 CloutCloud compensates influencers for their opinions and referrals!
%section.features-icons.bg-light.text-center
  .container
    .row
      .col-lg-4.card
        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
          .features-icons-icon.d-flex
            %i.bi-window.m-auto.text-primary.card-body
          %h3.card-title Share Your Opinion and Earn
          %p.lead.mb-0.card-text Your opinions are valuable and companies are willing to pay for your input and the input of your network.
      .col-lg-4.card
        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
          .features-icons-icon.d-flex
            %i.bi-layers.m-auto.text-primary.card-body
          %h3 The Anti-Panel
          %p.lead.mb-0 We flip the model by giving the lion's share of compensation to respondents. And, you get compensated for making referrals!
      .col-lg-4.card
        .features-icons-item.mx-auto.mb-0.mb-lg-3
          .features-icons-icon.d-flex
            %i.bi-terminal.m-auto.text-primary.card-body
          %h3 Give Back to Your Network
          %p.lead.mb-0 We enable earning opportunities for you directly and you can pass that benefit along to your followers.
