%nav.bg-gray-700.py-4.px-3
  .mx-auto.max-w-7xl.px-4.sm:px-6.lg:px-8
    .flex
      .hidden.md:ml-6.md:flex.md:items-center.md:space-x-4
      = link_to admin_root_path do
        %span.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium Dashboard
      = link_to admin_users_path do
        %span.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium Users
      = link_to admin_categories_path do
        %span.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium Categories
      = link_to admin_surveys_path do
        %span.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium Surveys