<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Survey:</strong>
    <%= enrollment.survey.survey_name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= enrollment.user.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= enrollment.status %>
  </p>

</div>
