/ This example requires Tailwind CSS v2.0+
= link_to survey_path(survey) do
  .bg-white.rounded.shadow.border.p-6.w-64
    %h5.text-2xl.font-bold.mb-4.mt-0= survey.survey_name
    %p.text-sky-600.text-sm.font-bold= number_to_currency(survey.cpi)
    %p.text-gray-700.text-sm= survey.category.name